<body class="movies">

<div class="cartes">
    <h2><b>{{movie.title}}</b></h2>
    <p>Genre: {{movie.genre}}</p>
    <p>Plot : {{movie.plot}}</p>
    <p>Cast : {{celebrity.catchPhrase}}</p>
</div>

<button class="button"><a  href="/movies">Go back</a></button>
<button class="button"><a  href="/movies/edit/{{movie._id}}">Edit</a></button>

</body>
